@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: #323232;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 16px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2{
  font-family: "Proza Libre", sans-serif;
  margin-bottom: 12px;
}
p {
    line-height: 1.6;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-top: 20px;
}

nav h2 {
  font-size: 1.8rem;
  margin: 0;
}

/* Navbar list styling */
.navbar {
  list-style: none;
  display: flex;
  margin: 20px;
  padding: 0;
}

/* Links styling */
.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 12px;
    transition: all 0.3s ease;
}

/* Hover effect */
.navbar li a:hover {
  background-color: #555; 
  border-radius: 5px;
  color: #fff;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .navbar li a {
    width: 100%;
  }
}

.about {
  display: flex;
  margin-top: 30px;
}

.about-text {
    flex: 1;
    margin-right: 20px;
}

.about-image {
    max-width: 200px;
    flex-shrink: 0;
    border-radius: 10px;
}

.projects {
  margin-top: 40px;
}

.project-image {
  display: none;
  margin-top: 10px;
}

.project-image img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.skills {
    padding: auto 0;
    margin-top: 30px;  
}

.skills h2 {
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;
    gap: 30px;           
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;        
}

.skill img {
    width: 60px;          
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.skill p {
    font-weight: 500;
    font-size: 1rem;
}

.skill img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .about-image {
        max-width: 150px;
    }

    .skills-container {
        gap: 20px;
    }

    .skill {
        width: 80px;
    }

    .skill img {
        width: 50px;
        height: 50px;
    }

    .skill p{
        font-size: 0.9rem;
    }
}