@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: #323232;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 16px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2{
  font-family: "Proza Libre", sans-serif;
  margin-bottom: 12px;
}
p {
    line-height: 1.6;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav h2 {
  font-size: 1.8rem;
  margin: 0;
}

/* Navbar list styling */
.navbar {
  list-style: none;
  display: flex;
  margin: 20px;
  padding: 0;
}

/* Links styling */
.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 12px;
    transition: all 0.3s ease;
}

/* Hover effect */
.navbar li a:hover {
  background-color: #555; 
  border-radius: 5px;
  color: #fff;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .navbar li a {
    width: 100%;
  }
}

.about {
  display: flex;
}

.about-text {
    flex: 1;
    margin-right: 20px;
}

.about-image {
    max-width: 200px;
    flex-shrink: 0;
    border-radius: 10px;
}